<httml>
    <head>
        <title>Invoice</title>
        <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css') }}">
        <script src="{{ asset('https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css') }}">
        <script src="{{ asset('https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
    <table align="center">
        <tr>
            <td>
                <h5>Owner #REPLACE_ME</h5>
            </td>
            <td>
                <h5>Buyer #REPLACE_ME</h5>
            </td>
        </tr>
    </table>

    <h2>Invoice </h2>
    <table border="1" width="100%" align="center">
        <tr>
            <th>
                <p>Nr crt</p>
            </th>
            <th>
                <p>Service name</p>
            </th>
            <th>
                <p>Quantity</p>
            </th>
            <th>
                <p>Price</p>
            </th>
            <th>
                <p>VAT</p>
            </th>
        </tr>
        <tr>
            <td>
                <p>{{ nrcrt }}</p>
            </td>
            <td>
                <p>{{ service_name }}</p>
            </td>
            <td>
                <p>{{ qantity }}</p>
            </td>
            <td>
                <p>{{ price }}</p>
            </td>
            <td>
                <p>{{ vat }}</p>
            </td>
        </tr>
    </table>
    </body>
</httml>