{% extends "@!SonataAdmin/Core/user_block.html.twig" %}

{% block user_block %}
    {% if app.user %}
        <div style="position:relative;float:right;width:120px;background-color:lightgrey;">
            <li>
                Hello {{  app.user.username }}!
            </li>
            <li >
                <a href="{{ path('fos_user_security_logout') }}">Logout&nbsp&nbsp </a>
            </li>
        </div>
    {% endif %}

{% endblock %}
